<a href="https://colab.research.google.com/github/tsangrebecca/BloomTech/blob/main/Orientation/Module_4/Fundamentals_Statistics_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Practice: Statistics


Follow the instructions for the following tasks. If a task is completed correctly, the assert statement will show no error in your code. This notebook is for practice purposes only and does not need to be turned in. 

Feel free to make changes to this document. If you would like to **save** any changes, make sure to click "Copy to Drive" above. 

____

In [5]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import scipy.stats as st

**Task 1**

Return the mean for the following series of numbers:

`10, 4, 42, 124, 5, 2, 7, 60, 40`

In [22]:
#your code here

test = 10, 4, 42, 124, 5, 2, 7, 60, 40
pd.Series(test).mean()

32.666666666666664

In [31]:
# base python
average = sum(test)/len(test)
print(average)

32.666666666666664

In [24]:
#there are multiple ways you can answer this. example answers are available in solution notebook

**Task 2**

Return the median of the following series of numbers:

`10, 4, 42, 124, 5, 2, 7, 60, 40`

In [25]:
#your code here 
np.median(test)

10.0

In [26]:
# base python
testlist = [10,4,42,124,5,2,7,60,40]   # I need a new object because python can only work on list for this calculation
testlist.sort()
mid_position = len(testlist)//2   # //2 means divide it by 2 and just keep the quotient so in this case it's 4.
print(testlist[mid_position])     # we call index 4, that means it's the 5th number in the list, which is the median.

10

In [27]:
#there are multiple ways you can answer this. example answers are available in solution notebook

**Task 3**

Return the standard deviation for the following series of numbers.

`10, 4, 42, 124, 5, 2, 7, 60, 40`

*Note: Using the numpy method will require an [extra parameter](https://stackoverflow.com/questions/24984178/different-std-in-pandas-vs-numpy).

In [36]:
#your code here 

np.std(test, ddof=1)  # the number is different because the degree of freedom by default is zero, will have to set it to 1 to match the answer from pd method

40.202611855450385

In [29]:
pd.Series(test).std()

40.202611855450385

In [34]:
# base python, use loop to get variance to calculate std
variances = []
for i in testlist:
  variances.append((i - average)**2)
print((sum(variances)/8)**0.5)   # coz it's n-1

40.202611855450385

In [ ]:
#there are multiple ways you can answer this. example answers are available in solution notebook