<a href="https://colab.research.google.com/github/tsangrebecca/BloomTech/blob/main/Sprint_1/Module3/O1_ConcatenateDataUsingThePandasConcatMethod.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

pd.concat

<function pandas.core.reshape.concat.concat(objs: 'Iterable[NDFrame] | Mapping[HashableT, NDFrame]', *, axis: 'Axis' = 0, join: 'str' = 'outer', ignore_index: 'bool' = False, keys=None, levels=None, names=None, verify_integrity: 'bool' = False, sort: 'bool' = False, copy: 'bool' = True) -> 'DataFrame | Series'>

In [2]:
# create dataframes using np random numbers
df1 = pd.DataFrame(np.random.rand(3,2), columns = ['cat', 'dog'])
df2 = pd.DataFrame(np.random.rand(3,2), columns = ['cat', 'dog'])

# print out the df
print(df1); print(df2)

        cat       dog
0  0.066991  0.986641
1  0.558760  0.787802
2  0.775361  0.152870
        cat       dog
0  0.298939  0.989434
1  0.545215  0.143566
2  0.675820  0.582384

In [4]:
# concat along the row axis with axis=0
pd.concat([df1, df2], ignore_index=True)

        cat       dog
0  0.066991  0.986641
1  0.558760  0.787802
2  0.775361  0.152870
3  0.298939  0.989434
4  0.545215  0.143566
5  0.675820  0.582384

In [5]:
# create another new df
df3 = pd.DataFrame(np.random.rand(3,2), columns = ['bird', 'horse'])

# concat it with on of the previous examples
pd.concat([df1, df3], axis=1)

        cat       dog      bird     horse
0  0.066991  0.986641  0.335722  0.155909
1  0.558760  0.787802  0.852577  0.263393
2  0.775361  0.152870  0.327841  0.406190

In [8]:
# create more dataframes that are dictionaries this time
data4 = {'Alpaca':['A1', 'A2', 'A3'], 'Bird':['B1', 'B2', 'B3'], 'Camel':['C1', 'C2', 'C3']}
df4 = pd.DataFrame(data4)
print(df4)

data5 = {'Bird':['B3', 'B4', 'B5'], 'Camel': ['C3', 'C4', 'C5'], 'Duck':['D3', 'D4', 'D5']}
df5 = pd.DataFrame(data5, index=[3,4,5])
print(df5)

# concat with defult join='other'
print(pd.concat([df4, df5], sort=False))

  Alpaca Bird Camel
0     A1   B1    C1
1     A2   B2    C2
2     A3   B3    C3
  Bird Camel Duck
3   B3    C3   D3
4   B4    C4   D4
5   B5    C5   D5
  Alpaca Bird Camel Duck
0     A1   B1    C1  NaN
1     A2   B2    C2  NaN
2     A3   B3    C3  NaN
3    NaN   B3    C3   D3
4    NaN   B4    C4   D4
5    NaN   B5    C5   D5

In [9]:
# concat with defalt join='inner' so that only columns that are common to the 2 dfs are joine
print(pd.concat([df4, df5], join='inner'))

  Bird Camel
0   B1    C1
1   B2    C2
2   B3    C3
3   B3    C3
4   B4    C4
5   B5    C5