<a href="https://colab.research.google.com/github/tsangrebecca/BloomTech/blob/main/Sprint_1/Module3/O2MergeAndJoinData_UsingPandasMergeJoin.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

# display the arguments for pd.merge()
pd.merge

<function pandas.core.reshape.merge.merge(left: 'DataFrame | Series', right: 'DataFrame | Series', how: 'str' = 'inner', on: 'IndexLabel | None' = None, left_on: 'IndexLabel | None' = None, right_on: 'IndexLabel | None' = None, left_index: 'bool' = False, right_index: 'bool' = False, sort: 'bool' = False, suffixes: 'Suffixes' = ('_x', '_y'), copy: 'bool' = True, indicator: 'bool' = False, validate: 'str | None' = None) -> 'DataFrame'>

**MERGE**

In [2]:
# create dictionaries
df1 = pd.DataFrame({'day': ['Mon', 'Tues', 'Wed', 'Thurs', 'Fri'],
                   'weather': ['sunny', 'windy', 'rainy', 'cloudy', 'cold']})

df2 = pd.DataFrame({'day': ['Wed', 'Fri', 'Mon', 'Thurs', 'Tues'],
                   'temp': [88, 75, 62, 65, 53]})

# Display the DataFrames
display(df1)
display(df2)

     day weather
0    Mon   sunny
1   Tues   windy
2    Wed   rainy
3  Thurs  cloudy
4    Fri    cold

     day  temp
0    Wed    88
1    Fri    75
2    Mon    62
3  Thurs    65
4   Tues    53

In [3]:
# Merge them with the default values
df3 = pd.merge(df1, df2)
display(df3)

     day weather  temp
0    Mon   sunny    62
1   Tues   windy    53
2    Wed   rainy    88
3  Thurs  cloudy    65
4    Fri    cold    75

DIfference between merge and concat:
MERGE recognizes the shared column and merges them instead of just adding one df to another!

In [4]:
# Change the column name day -> day_of_week
df2_new = pd.DataFrame({'day_of_week': ['Wed', 'Fri', 'Mon', 'Thurs', 'Tues'],
                   'temp': [88, 75, 62, 65, 53]})

# Merge with left and right columns
df4 = pd.merge(df1, df2_new, left_on='day', right_on='day_of_week')
display(df4)

     day weather day_of_week  temp
0    Mon   sunny         Mon    62
1   Tues   windy        Tues    53
2    Wed   rainy         Wed    88
3  Thurs  cloudy       Thurs    65
4    Fri    cold         Fri    75

In [5]:
# notice day_of_week will sort itself
# now there's a redundant column, and we can drop it

# Drop the day_of_week column after merging, using .merge().drop()
df5 = pd.merge(df1, df2_new, left_on='day', right_on='day_of_week').drop('day_of_week', axis=1)
display(df5)

     day weather  temp
0    Mon   sunny    62
1   Tues   windy    53
2    Wed   rainy    88
3  Thurs  cloudy    65
4    Fri    cold    75

In [ ]:
# same result as if we were to merge it when the column names are the same

In [6]:
# Create the DataFrames
df6 = pd.DataFrame({'name': ['Snowball', 'Bob', 'Tweetie', 'Fluffy'],
                   'type': ['cat', 'rat', 'bird', 'dog']})

df7 = pd.DataFrame({'name': ['Snowball', 'Bob'],
                   'weight': [400, 749]})

# Display before merging
display(df6); display(df7)

       name  type
0  Snowball   cat
1       Bob   rat
2   Tweetie  bird
3    Fluffy   dog

       name  weight
0  Snowball     400
1       Bob     749

In [7]:
# Merge in two different ways
df8_outer = pd.merge(df6, df7, how='outer')
df8_inner = pd.merge(df6, df7, how='inner')

# Display after merging
display(df8_outer); display(df8_inner)

       name  type  weight
0  Snowball   cat   400.0
1       Bob   rat   749.0
2   Tweetie  bird     NaN
3    Fluffy   dog     NaN

       name type  weight
0  Snowball  cat     400
1       Bob  rat     749

In [9]:
# outer is everything, a UNION, 
# inner is only the overlapping parts, an INTERSECTION

JOIN

In [10]:
# join is not a full merge, a half-ass merge

# need to reset indices for joining
df1a = df1.set_index('day')
df2a = df2.set_index('day')

# join on the new index = 'day'
df1a.join(df2a, on='day')

      weather  temp
day
Mon     sunny    62
Tues    windy    53
Wed     rainy    88
Thurs  cloudy    65
Fri      cold    75