<a href="https://colab.research.google.com/github/tsangrebecca/BloomTech/blob/main/Orientation/DS_Fundamentals_Visualizations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Visualizing Your Data

While being able to interpret and explain what's in a data set is a key skill for any data scientist or analyst, being able to communicate your findings is just as important. 

There are two very commonly used packages for visualization with Python:
- matplotlib
- seaborn

In [1]:
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
cars = sns.load_dataset('mpg')
cars

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevy s-10

## Bar Graphs
Used to determine the quantity of categorical or discrete features.

## Histograms
Measure the distribution of values for one quantitative values, divided into separate bins.

## Box Plots
Measures the distribution of a quantitative array of values by visually describing the summary statistics: 
- min
- max
- median
- 25th and 75th percentile

## Scatterplots
The values of two variables are plotted along two axes, the pattern of the resulting points revealing any correlation present.

## Matplotlib Parameters

## Seaborn

## Resources
- https://www.python-graph-gallery.com/
- https://matplotlib.org/
- https://seaborn.pydata.org/