<a href="https://colab.research.google.com/github/tsangrebecca/BloomTech/blob/main/Sprint2/Module2/Lecture_ABtest_setup_for_pageviews_and_clicks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np


data_url = 'https://raw.githubusercontent.com/LambdaSchool/data-science-practice-datasets/main/unit_1/Udacity%20AB%20testing%20data/AB%20testing%20data.csv'

ABtest = pd.read_csv(data_url, skipinitialspace=True, header=0)

print(ABtest.shape)
ABtest.head()

(999, 10)

,Date,C-Pageviews,C-Clicks,C-Enrollments,C-Payments,E-Pageviews,E-Clicks,E-Enrollments,E-Payments,Unnamed: 9
0,"Sat, Oct 11",7723.0,687.0,134.0,70.0,7716.0,686.0,105.0,34.0,NaN
1,"Sun, Oct 12",9102.0,779.0,147.0,70.0,9288.0,785.0,116.0,91.0,NaN
2,"Mon, Oct 13",10511.0,909.0,167.0,95.0,10480.0,884.0,145.0,79.0,NaN
3,"Tue, Oct 14",9871.0,836.0,156.0,105.0,9867.0,827.0,138.0,92.0,NaN
4,"Wed, Oct 15",10014.0,837.0,163.0,64.0,9793.0,832.0,140.0,94.0,NaN

In [3]:
#Calculate total pageviews and clicks for experimental and control groups

C_PV = ABtest['C-Pageviews'].sum()
print('Page views - control group:', C_PV)

E_PV = ABtest['E-Pageviews'].sum()
print('Page views - exerimental group:', E_PV)

C_Clicks = ABtest['C-Clicks'].sum()
print('Clicks - control group:', C_Clicks)

E_Clicks = ABtest['E-Clicks'].sum()
print('Clicks - experimental group:', E_Clicks)

Page views - control group: 345543.0
Page views - exerimental group: 344660.0
Clicks - control group: 28378.0
Clicks - experimental group: 28325.0

In [4]:
#Create a column of 0s and 1s corresponding to the number of clicks and pageviews
#in the control group.

#Create a corresponding column that says "Control" to be an indicator variable.

Clicks_control = pd.DataFrame(np.repeat(1,C_Clicks,axis=0))
No_clicks_control = pd.DataFrame(np.repeat(0,C_PV - C_Clicks,axis=0))

Clicks_C = pd.concat([Clicks_control,No_clicks_control])
Clicks_C = Clicks_C.reset_index(drop=True)


Control_label = pd.DataFrame(np.repeat('Control',C_PV,axis=0))


print(Clicks_C.shape)
print(Control_label.shape)

Control = pd.concat([Control_label, Clicks_C], axis=1)

(345543, 1)
(345543, 1)

In [5]:
#Create a column of 0s and 1s corresponding to the number of clicks and pageviews
#in the experimental group.

#Create a corresponding column that says "Experiment" to be an indicator variable.

Clicks_experiment = pd.DataFrame(np.repeat(1,E_Clicks,axis=0))
No_clicks_experiment = pd.DataFrame(np.repeat(0,E_PV - E_Clicks,axis=0))

Clicks_E = pd.concat([Clicks_experiment,No_clicks_experiment])
Clicks_E = Clicks_E.reset_index(drop=True)


Experiment_label = pd.DataFrame(np.repeat('Experiment',E_PV,axis=0))


print(Clicks_E.shape)
print(Experiment_label.shape)

Experiment = pd.concat([Experiment_label, Clicks_E], axis=1)

(344660, 1)
(344660, 1)

In [6]:
#Stick the two datasets together and export

AB_test_clicks = pd.concat([Control, Experiment])

AB_test_clicks.to_csv('AB_test_clicks.csv')